<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>MakersBNB</title>
  <link href="<%= src='/styles.css' %>" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Satisfy&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
</head>

<body class="container">

<h1>Logged in as <%= @username %></h1>

<h1> Spaces Available. </h1>
    <% @space.each do |space| %>
 <form action="/booking_preview/<%= space.id%>" method="get" >
  <li class="space" id="<% space.id %>">
  <li>  <%= space.name %> </li>
  <li> <%= space.description %> </li>
  <li> <%= space.price_per_night %> </li>
  <input type="submit" value="Book now" name="Book Now" />
</form>
<% end %>

</body>
<footer>
  By Blue Whales
</footer>